@import 'settings.css';

/* Unclassed HTML elements
========================== */

html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  font-size: 62.5%;
  background-color: #f5f5f5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  color: #707070;
}

a {
  text-decoration: none;
}

::-moz-selection { /* stylelint-disable-line selector-no-vendor-prefix */
  color: #fff;
  background-color: #ff4868;
}

::selection {
  color: #fff;
  background-color: #ff4868;
}
