{% extends 'base.html' %}


{% block main-heading %}
  Please sign in
{% endblock %}


{% block content %}

  {% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
       please login with an account that has access.</p>
    {% endif %}
  {% endif %}

  <div>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form.as_p }}

      <p class="bs-component">
      <input class="btn btn-success btn-sm" type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
      </p>
    </form>
  </div>

{% endblock %}
