<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://cdn.rawgit.com/doximity/vital/v1.2.1/dist/css/vital.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.3/milligram.css">


    {% load static %}
    <link rel="stylesheet" href="{% static 'jam/skin/dist/assets/stylesheets/base.css' %}">

    <script src="{% static 'jam/skin/bower_components/modernizr/modernizr.js' %}"></script>
  </head>
  <body>
    <!--if lt IE 8
    p.chromeframe.
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.

    -->
    <header>
      <div class="logo"><a href="{% url 'frontadmin.index' %}" class="logo">Home</a></div>
      <div class="toolbar">
      </div>
    </header>

    <main>
    {% block main %}{% endblock %}
    </main>

    <footer></footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </body>
</html>
